body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:999px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1936 {
  position:fixed;
  left:200px;
  top:0px;
}
#u1936_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1936_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u1937 {
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  overflow:hidden;
}
#u1939_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/产品简介/u55_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 106px;
}
#u1939_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1941 {
  position:absolute;
  left:2px;
  top:25px;
  width:186px;
  word-wrap:break-word;
}
#u1942 {
  position:absolute;
  left:190px;
  top:0px;
}
#u1942_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1942_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1943_img.mouseOver {
}
#u1943.mouseOver {
}
#u1943_img.selected {
}
#u1943.selected {
}
#u1944 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1945 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1945_img.mouseOver {
}
#u1945.mouseOver {
}
#u1945_img.selected {
}
#u1945.selected {
}
#u1946 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1947 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1947_img.mouseOver {
}
#u1947.mouseOver {
}
#u1947_img.selected {
}
#u1947.selected {
}
#u1948 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1949 {
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1949_img.mouseOver {
}
#u1949.mouseOver {
}
#u1949_img.selected {
}
#u1949.selected {
}
#u1950 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1951 {
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1951_img.mouseOver {
}
#u1951.mouseOver {
}
#u1951_img.selected {
}
#u1951.selected {
}
#u1952 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u1953 {
  position:absolute;
  left:49px;
  top:65px;
  width:23px;
  height:12px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1954 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u1955 {
  position:absolute;
  left:1000px;
  top:22px;
  width:110px;
  height:32px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:4px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:77px;
  width:1201px;
  height:91px;
  overflow:hidden;
}
#u1959_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/产品简介/u75_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 73px;
}
#u1959_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1960 {
  position:absolute;
  left:200px;
  top:88px;
}
#u1960_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1960_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1961 {
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1961_img.mouseOver {
}
#u1961.mouseOver {
}
#u1961_img.selected {
}
#u1961.selected {
}
#u1962 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1963 {
  position:absolute;
  left:240px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1963_img.mouseOver {
}
#u1963.mouseOver {
}
#u1963_img.selected {
}
#u1963.selected {
}
#u1964 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1965 {
  position:absolute;
  left:478px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1965_img.mouseOver {
}
#u1965.mouseOver {
}
#u1965_img.selected {
}
#u1965.selected {
}
#u1966 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1967 {
  position:absolute;
  left:598px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1967_img.mouseOver {
}
#u1967.mouseOver {
}
#u1967_img.selected {
}
#u1967.selected {
}
#u1968 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1969 {
  position:absolute;
  left:718px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1969_img.mouseOver {
}
#u1969.mouseOver {
}
#u1969_img.selected {
}
#u1969.selected {
}
#u1970 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1971_img.mouseOver {
}
#u1971.mouseOver {
}
#u1971_img.selected {
}
#u1971.selected {
}
#u1972 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1973 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1973_img.mouseOver {
}
#u1973.mouseOver {
}
#u1973_img.selected {
}
#u1973.selected {
}
#u1974 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1960_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1960_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1975 {
  position:absolute;
  left:118px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1975_img.mouseOver {
}
#u1975.mouseOver {
}
#u1975_img.selected {
}
#u1975.selected {
}
#u1976 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1977_img.mouseOver {
}
#u1977.mouseOver {
}
#u1977_img.selected {
}
#u1977.selected {
}
#u1978 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1979 {
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1979_img.mouseOver {
}
#u1979.mouseOver {
}
#u1979_img.selected {
}
#u1979.selected {
}
#u1980 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1981 {
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1981_img.mouseOver {
}
#u1981.mouseOver {
}
#u1981_img.selected {
}
#u1981.selected {
}
#u1982 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1960_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1960_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1983 {
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1983_img.mouseOver {
}
#u1983.mouseOver {
}
#u1983_img.selected {
}
#u1983.selected {
}
#u1984 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1985_img.mouseOver {
}
#u1985.mouseOver {
}
#u1985_img.selected {
}
#u1985.selected {
}
#u1986 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1987 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1987_img.mouseOver {
}
#u1987.mouseOver {
}
#u1987_img.selected {
}
#u1987.selected {
}
#u1988 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1989 {
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1989_img.mouseOver {
}
#u1989.mouseOver {
}
#u1989_img.selected {
}
#u1989.selected {
}
#u1990 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1960_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1960_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1991 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1991_img.mouseOver {
}
#u1991.mouseOver {
}
#u1991_img.selected {
}
#u1991.selected {
}
#u1992 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1993_img.mouseOver {
}
#u1993.mouseOver {
}
#u1993_img.selected {
}
#u1993.selected {
}
#u1994 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1960_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1960_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1995 {
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1995_img.mouseOver {
}
#u1995.mouseOver {
}
#u1995_img.selected {
}
#u1995.selected {
}
#u1996 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1997_img.mouseOver {
}
#u1997.mouseOver {
}
#u1997_img.selected {
}
#u1997.selected {
}
#u1998 {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
.u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:37px;
}
.u2000 {
  position:absolute;
  left:429px;
  top:0px;
  width:141px;
  height:36px;
  font-size:28px;
  text-align:center;
}
.u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
.u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
.u2002 {
  position:absolute;
  left:0px;
  top:100px;
  width:41px;
  height:27px;
  font-size:20px;
  color:#FF9900;
}
.u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
.u2004 {
  position:absolute;
  left:0px;
  top:147px;
  width:1004px;
  height:175px;
}
.u2005_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:43px;
}
.u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
.u2006 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
.u2007_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:802px;
  height:43px;
}
.u2007 {
  position:absolute;
  left:200px;
  top:0px;
  width:799px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
.u2008 {
  position:absolute;
  left:2px;
  top:6px;
  width:795px;
  word-wrap:break-word;
}
.u2009_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:47px;
}
.u2009 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
.u2010 {
  position:absolute;
  left:10px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
.u2011_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:802px;
  height:47px;
}
.u2011 {
  position:absolute;
  left:200px;
  top:40px;
  width:799px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
.u2012 {
  position:absolute;
  left:20px;
  top:14px;
  width:777px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2013_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:47px;
}
.u2013 {
  position:absolute;
  left:0px;
  top:84px;
  width:200px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
.u2014 {
  position:absolute;
  left:10px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
.u2015_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:802px;
  height:47px;
}
.u2015 {
  position:absolute;
  left:200px;
  top:84px;
  width:799px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
.u2016 {
  position:absolute;
  left:20px;
  top:14px;
  width:777px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2017_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:45px;
}
.u2017 {
  position:absolute;
  left:0px;
  top:128px;
  width:200px;
  height:42px;
  font-size:14px;
}
.u2018 {
  position:absolute;
  left:10px;
  top:11px;
  width:188px;
  word-wrap:break-word;
}
.u2019_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:802px;
  height:45px;
}
.u2019 {
  position:absolute;
  left:200px;
  top:128px;
  width:799px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
.u2020 {
  position:absolute;
  left:20px;
  top:13px;
  width:777px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999-1 {
  position:absolute;
  left:0px;
  top:40px;
  width:999px;
  height:317px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:120px;
  width:999px;
  height:457px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
